<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="mi-visor-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
      <div class="row">
        <img class="col-lg-8 col-xs-12" src="https://image.flaticon.com/icons/svg/1187/1187615.svg">
    </div>
    <div class="row">
      <button class="btn btn-danger col-lg-4 col-xs-12" type="button" name="button" on-click="incrementar">Carga datos</button>
      <input type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}"/> <!--va del back al modelo y viceversa-->
    </div>
    <div class="row">
      <table class="table table-striper col-lg-12 col-xs-12"
       <thead>
       <th>ID</th>
       <th>Nombre</th>
       <th>Apellidos</th>
     </thead>
     <tbody>
       <tr>
         <td>1</td>
         <td>[[prop1]]</td>
         <td>Mora</td>
       </tr>
       <tr>
         <td>[[prop2]]</td>
         <td>Oscar</td>
         <td>Nogales</td>
       </tr>
     </tbody>
 </table>
    </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisorApp extends Polymer.Element { //se debe llamar igual que la aplicación sin guión
      static get is() { return 'mi-visor-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-visor-app'
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String
//          value: 'Indique su login'
          }
        };
      }
      incrementar() {
        this.prop2 = this.prop2+1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisorApp.is, MiVisorApp); //se debe llamar igual que la clase
  </script>
</dom-module>
